.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 250px;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  // background-image: asset-url('cocktail-card.jpg');
  background-size: cover;
  opacity: 0.9;
  .fa-glass {
  color: white;
  font-size: 18px;
  opacity: 0.6;
  position: absolute;
  right: 10px;
  top: 10px;
  }
}

// .card:hover {
//   margin-top: -5px;
// }

.card-content {
  height: 200px;
  color: white;
  position: relative;
}

.card-name {
  position: absolute;
  right: 10px;
  bottom: 10px;
  a {
    font-size: 18px;
    font-weight: bolder;
    text-shadow: 0px 1px #2d3142;
    color: white;
  }
  a:hover {
    color: white;
    opacity: 0.6;
  }
}

