.footer {
  background: #4f5d75;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  transition: 0.5s background-color ease;
  .fa-tint {
  color: #ef8354;
  }
  .footer-text {
    color: white;
  }
}

.footer-hide {
  display: none;
}
