.footer {
  background: #4f5d75;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  .fa-tint {
  color: #ef8354;
  }
  .footer-text {
    color: white;
  }
}
